.btn-refresh {
	font-size:  30px;
	position: fixed;
	top:  20px;
	left:  20px;
}.btn-refresh:hover {
	cursor: pointer;
	transform: rotate(180deg);
	transition: transform 0.5s;
}.btn-refresh:active {
	color: red;
}
.container {
	padding-top:  20px;
}